<%inherit file="site.html" />
<%include file="/menu/menu.html" />

<!--<link href="css/caption.css" media="screen" rel="stylesheet" title="" type="text/css"  />-->

<div id="content">
<!--            highestimageid: ${c.highestimageid}<br />
            lowestimageid: ${c.lowestimageid}<br />
            startfromimage: ${c.startfromimage}<br />
            lowestimageonpage: ${c.lowestimageonpage}<br />
            startimagenextpage: ${c.startimagenextpage}<br />
            startimageprevpage: ${c.startimageprevpage}<br />
-->


${pages()}

% for viewdetail in c.viewlist:

<div class="imagecontainer">
    
    <a href="http://google.com"><img id="image" src="/trackdata/bydate/${viewdetail.logdate}/images/best_990/${viewdetail.imgname}"></a>
    <div class="caption">
        <span>&#8594;</span>
            <a href="http://www.flickr.com/peletiah/${viewdetail.flickrphotoid}" target="_blank">www.flickr.com</a>
    </div>
</div>

% endfor

<script>
$(".caption").hide();
$("div.imagecontainer").mouseover(function(){
      $(".caption",this).show();
      width=($("img[id='image']",this).width())
      $('div.imagecontainer').css({width: width});
    }).mouseout(function(){
      $(".caption",this).hide();
    });


</script>

${pages()}


<%def name="pages()">
    <div id="pages">
            % if c.startimageprevpage >= c.lowestimageid and c.lowestimageonpage != c.lowestimageid:
                <span class="logpagelowest"><a href="/view/index/${c.lowestimageid}" title="Jump to oldest photos"></a></span>
            % endif
            % if c.startimageprevpage >= c.lowestimageid and c.lowestimageonpage != c.lowestimageid:
                <span class="logpageprev"><a href="/view/index/${c.startimageprevpage}" title="Show older photos"></a></span>
            % endif
            % if c.startimagenextpage <= c.highestimageid and c.startfromimage != c.highestimageid:
                <span class="logpagenext"><a href="/view/index/${c.startimagenextpage}" title="Show newer photos"></a></span>
            % endif
            % if c.startimagenextpage <= c.highestimageid and c.startfromimage != c.highestimageid:
                <span class="logpagehighest"><a href="/view/index/${c.highestimageid}" title="Jump to newest photos"></a></span>
            % endif
        </div>

</%def>
