<%inherit file="site.html" />
<%include file="/menu/menu.html" />

<!--<link href="css/caption.css" media="screen" rel="stylesheet" title="" type="text/css"  />-->

<div id="content">
<!--            highestimageid: ${c.highestimageid}<br />
            lowestimageid: ${c.lowestimageid}<br />
            startfromimage: ${c.startfromimage}<br />
            lowestimageonpage: ${c.lowestimageonpage}<br />
            startimagenextpage: ${c.startimagenextpage}<br />
            startimageprevpage: ${c.startimageprevpage}<br />
-->


${pages()}

% for viewdetail in c.viewlist:

<div class="imagecontainer">
    
    <a rel="map_colorbox" href="/track/simple/${viewdetail.trackpointinfo.id}/${viewdetail.photoid}"><img id="image" src="${viewdetail.imgname}"></a>
    <div class="caption">
         <span id="caption_left">
            <span>&#8594;</span>
            <a href="http://www.flickr.com/peletiah/${viewdetail.flickrphotoid}" target="_blank">www.flickr.com</a><br />
            <span>&#8594;</span>
            <a rel="map_colorbox" href="/track/simple/${viewdetail.trackpointinfo.id}/${viewdetail.photoid}">view on map</a>
        </span>
        <span id="caption_center">
                        % if viewdetail.description:
                <a href="/log/${viewdetail.log_id}">${viewdetail.description}</a>
            % else:
                <a href="/log/${viewdetail.log_id}">&ldquo;${viewdetail.title}&rdquo;</a>
            % endif            
            <br />
            ${viewdetail.trackpointinfo.location},
            % if viewdetail.trackpointinfo.temperature==None:
            n/a,
            % else:
            ${viewdetail.trackpointinfo.temperature}&#8451,
            % endif
            % if viewdetail.trackpointinfo.altitude==None:
            n/a
            % else:
            ${viewdetail.trackpointinfo.altitude}m
            % endif
        </span>
        <span id="caption_right">
            ${viewdetail.localtime} (<a href="" title="${viewdetail.timezone.description}, ${viewdetail.utcoffset}">${viewdetail.timezone.abbreviation})</a><br />
            ${viewdetail.focal_length}&nbsp;|&nbsp;${viewdetail.aperture}&nbsp;|&nbsp;${viewdetail.shutter}
        </span>
    

    </div>
</div>

% endfor

<script>
$(".caption").hide();
$("div.imagecontainer").mouseover(function(){
      $(".caption",this).show();
      width=($("img[id='image']",this).width())
      $('div.imagecontainer').css({width: width});
    }).mouseout(function(){
      $(".caption",this).hide();
    });


</script>

${pages()}


<%def name="pages()">
    <div id="pages">
            % if c.startimageprevpage >= c.lowestimageid and c.lowestimageonpage != c.lowestimageid:
                <span class="logpagelowest"><a href="/view/index/${c.lowestimageid}" title="Jump to oldest photos"></a></span>
            % endif
            % if c.startimageprevpage >= c.lowestimageid and c.lowestimageonpage != c.lowestimageid:
                <span class="logpageprev"><a href="/view/index/${c.startimageprevpage}" title="Show older photos"></a></span>
            % endif
            % if c.startimagenextpage <= c.highestimageid and c.startfromimage != c.highestimageid:
                <span class="logpagenext"><a href="/view/index/${c.startimagenextpage}" title="Show newer photos"></a></span>
            % endif
            % if c.startimagenextpage <= c.highestimageid and c.startfromimage != c.highestimageid:
                <span class="logpagehighest"><a href="/view/index/${c.highestimageid}" title="Jump to newest photos"></a></span>
            % endif
        </div>

</%def>
