<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
   <link href="/css/caption.css" media="screen" rel="stylesheet" title="" type="text/css"/>
    <link rel="shortcut icon" href="/images/bicycle.ico" />
    <title>poab.org - photos</title>
    <script type="text/javascript" >
   function showContent(country_id) {
        var re = new RegExp("(http://poab.org:4000/view/infomarker/[0-9]{1,})/[0-9]{1,}");
        var m = re.exec(location.href)
        if (m!=null) {
            var newurl = location.href.replace(re, "$1"+country_id)
            window.location = newurl
        }
            
        if (country_id=='0') {
            showNavigation('<li id="navigation"><a href="#" title="Journal-entries for all countries" onclick=resetContent();>All</a></li>');
            resetMenu(country_id);
        }
        $.ajax({
            url: '/view/country/'+country_id,
            cache: true,
            success: function(response) { 
            $("#content").replaceWith('<div id="content">' + response + '</div>');
           }
        
        });
    }
    function resetContent() {
        
        showContent(0);
        if ($(".imagecontainer").css("width")==$(".imagecontainer").css("width")) {
            $(".imagecontainer").width('55%')
            }
        else if ($(".imagecontainer").css("width")=='100%') {
            $(".imagecontainer").width('55%')
            }
    }

</script>
</head>
  <body>
   ${self.body()}
  </body>
</html>
