<%inherit file="site.html" />
<%include file="/menu/menu.html" />

<div id="content">
    <div class="about">
        <h1>About the journey</h1>
        <div class="aboutcontent">
            <div class="about_images_caption">
                <img id="aboutimage" src="/images/about/yak.jpg" alt="Sign with world-map Claude Marthaler has on his world-tour-bike" />
                <div class="caption">
                    <span>&#8594; </span><a href="http://www.yaksite.org/us/index.html" target="_blank">Claude Marthaler's site</a>
                </div>
            </div>
            <div class="about_text">
            <p>A few years ago i picked up the idea of travelling by bike over long distances when i read the german edition of <a href="http://yaksite.org" target="_blank">Claude Marthaler's</a> "Le Chant des Roues". I was hooked!</p>
<p>I've been dreaming of repeating Claude's travels since over 6 years now and i promised myself to start before i turn 30(Not because of fear of age, but because i strive to live my dreams and i need to begin with that somewhere sometime). Many times i stood on the <a href="http://en.wikipedia.org/wiki/Reichsbr&#252;cke" target="_blank">Reichsbr&#252;cke</a> in Vienna and gazed south to the horizon, where wide open spaces to be explored and freedom where waiting.</p>
            <p>I had to delay the start of my adventure two times for yet another year, but in August 2010 i'll finally be able to pack up and cross the Reichsbruecke for a 6 month "<a href="http://en.wikipedia.org/wiki/Walkabout">rideabout</a>" to Asia.</p>
            <p>While i'm still dreaming to travel across all continents like Claude at some point in my life, i'll start modestly for now, by travelling from Vienna/Austria along the Danube through Hungary/Slovakia, Serbia, Romania/Bulgaria to Istanbul. From there i'll continue along the northern coast of Turkey all the way east to the Iranian border, cross south through the Iranian <a href="http://en.wikipedia.org/wiki/Zagros_Mountains" target="_blank" title="Wikipedia Zagros Mountains">Zagros Mountains</a> and approach <a href="http://en.wikipedia.org/wiki/Balochistan_(region)" target="_blank" title="Wikipedia Balochistan">Balochistan</a> in Iran and Pakistan. In Pakistan i'll follow the northern road close to the afghan border to Quetta and onwards to Lahore, where i'll cross over to India to approach my final destination - New Dehli.</p>
            <p><small>Updated 22.July 2010</small></p>
</div>
            
        </div>
    </div>
    <div class="about">
        <h1>About me</h1>
        <div class="aboutcontent">
            <div class="about_images">
                <img src="/images/about/portrait4.jpg" alt="Me enjoying the sun at Ottenstein Stausee" />
            </div>
            <div class="about_text">
                <p>I was born in September 1980 in Graz and my parents christened me by the name Christian Johann Benke while i was still not able to argue about it. At the age of a half year my first intercontinental travel was with my mother and my elder brother to South Africa to join my father, who worked there for <a target="_blank" href="http://en.wikipedia.org/wiki/Voestalpine">Voest-Alpine</a>.</p>
                <p>3 years later we went back to Austria where my father started to teach at a <a href="http://en.wikipedia.org/wiki/Hoehere_Technische_Lehranstalt" target="_blank">HTL</a> in Tyrol and i spent the majority of my childhood in <a target="_blank" href="http://en.wikipedia.org/wiki/Stubaital">Stubaital</a>, surrounded by some of the highest mountains in the Austrian Alps.</p>
                <p>In 1985 my sister was born, in 1988 my second brother followed. Both are living and working in Tyrol. My elder Brother has been born 2 years ahead of me and lives in Vienna, we are close and we used to share a flat during his first 4 years in the town before i moved in with my associate a year ago.</p>
                <p>A typical tyrolean valley has two major directions - into the valley and out of the valley, and a view limited by the glacier at one end and a mountain range of its "superior" valley at the other(Which is the <a href="http://www.flickr.com/photos/peletiah/2902636962/in/set-72157607611318101/" target="_blank">Stubai Glacier</a> and Inntal with <a target="_blank" href="http://commons.wikimedia.org/wiki/File:Innsbruck_Panorama_Nordkette_2.jpg">Nordkette</a> for the Stubai Valley). I never got accustomed to these visual restrictions and the natural confinement and loved our summer holidays in Styria(Where my parents come from), where the landscape was much wider and streets went in all directions - even more so the flat landscapes of Lower Austria and Burgenland which we visited on day trips. Still, i like mountaineous landscapes, but i prefer passing through over living there.</p>
                <p> At the age of 17 and 18 i spent the money i had earned on summer jobs for <a target="_blank" href="http://en.wikipedia.org/wiki/InterRail">Interrail</a>-travels all over Europe and Morocco. These 4-week travels literally broadened my horizon, i got a sense of places, distances and my own geographic and cultural stance. A very different experience than what you learn from maps, books and media.</p>
                <p>After finishing school i moved to Vienna in 2000 and while i didn't mean to stay there for long as i was dreaming of travelling all across the planet, i ended up living in Vienna for a full decade up to now(2010). Occupation with social necessities and work always seemed to be more important, so i was limited to short-term summer-travels within the boundaries of Europe with a glimpse of Asia in Istanbul and Africa on a second Interrail-travel to Morocco.</p>
                <p>In 2005 my interest for travelling by bike had led to a ride from Vienna to Budapest with my then girlfriend, followed by a <a href="http://derreisende.soup.io/?date=2007-08-09" target="_blank" title="Blog-journal of Vienna-Berlin ride, unfinished and non-linear">solo-ride from Vienna to Berlin</a> in 2007 and a journey from <a href="/track/c/826" target="_blank" title="London to Edinburgh map entry on this site">London to Edinburgh</a> in 2008. In 2009 my current girlfriend joined me for a <a href="/track/c/504" target="_blank" title="Morocco 2009 map on this site">bike-trip to Morocco</a>(Visit No.3!) but the heaviest rainfalls in two decades and a severe cold with fever limited our possibilities(You will find documentation of the latter two travels on this website).</p>
                <p>For the Vienna-Berlin ride i borrowed my brothers point-and-shoot-camera and realized how much i still enjoy photography(Inspired by my elder brother to try it, my first camera was a <a href="http://en.wikipedia.org/wiki/LOMO_LC-A" target="_blank">LOMO</a> when i was 16). For the travel in England i had already purchased a Nikon D40 which i will also take with me on my big trip to India, i hope it doesn't break prematurely.</p>
                <p>After my first bike-travel and seeing that it was a optimal way to cross countries(Not too fast, not too slow, closely knit to the landscape you are travelling through), i had altered my world-travel-plans from backpacking to riding a bike across the globe. Initially i had planned to cross all continents in one go but i got modest in the last year and i'm only planning a half year journey from Austria to India to begin with.</p>
                <p>I am - we are - in the unfortunate situation that my partner and companion Daniela can't join me on this adventure due to several unfavourable circumstances, including financial reasons. This has put a lot of strain on both of us in the last months when it got clear that i'll definitely start, but we both agreed that i have to do it. We also agreed that we set ourselves a limit of 3 months, then we will discuss if i continue for another 2-3 months or if i abort the travel prematurely and go back to Vienna before i finish the planned route. But if we are very lucky, Daniela may follow me to India by plane in January/February and then we would continue on the route south of the Himalaya in northern India and maybe even go as far as Buthan! But right now, this is just a dream.</p>
                <p><a href="http://poab.org">poab</a> stands for "<i>percival on a bike</i>" - I've read the story of <a href="http://en.wikipedia.org/wiki/Parzival" target="_blank">Parzival</a> by Wolfram von Eschenbach in school and i've identified myself with the character since. Like Parzival i'm a pretty naive and sweet-tempered person(And i want to keep it that way deliberately, despite of beeing exploited sometimes) and i'm looking for the "holy grail" of awareness and understanding since i'm a little kid. For many years now i've tried to live by the <a href="http://en.wikipedia.org/wiki/Cardinal_virtues">cardinal virtues</a>, although i've often failed and i've had my fair share of things i'm not proud of. I'm curios about the world and i want to know how all of it works and how it is connected. We will see if i'll be old and wise sometime, as i imagined in my childhood.
                <p>My "professional" background is in IT(I've been working as a Linux system administrator lastly) but i've also been working as a <a href="http://bat45.com/" target="_blank">bike-courier</a>, salesman, electrician, <a href="http://en.wikipedia.org/wiki/Automation" target="_blank">automation-engineer</a>, draughtsman, <a href="http://makeartstopaids.org/news/internationalAidsConf.htm" target="_blank">organizer</a> and <a href="http://post.at/" target="_blank">mailman</a> in the past.</p>
                <p>If you want to contact me personally, the best way to do this would be by mail: benkokakao - gmail - com</p>
                <p><small>Updated 22.July 2010</small></p>
            </div>
        </div>
    </div>
    <div class="about">
        <h1>About the website</h1>
        <div class="aboutcontent">
            <div class="about_text">
<p>Work on this website already started in Autumn 2008 with month-long breaks in between, where no code was <a href="http://github.com/peletiah/poab_pylons/commits/master" target="_blank">commited</a>. What you see in your browser is just the tip of the iceberg - there's more in the backend with a local webinterface to be able to write offline-journals and synchronize the images and journals with the server when i have access to an internet-uplink later. All code is public at <a href="http://github.com/peletiah/" target="_blank">my repository at github.com</a>:</p>
<ul>
<li><a href="http://github.com/peletiah/poab_local" target="_blank">poab_local</a> is the local webinterface to create journals, convert/geocode the images, write all the content and metadata to xml-files and synchronize the content to the server</li>
<li><a href="http://github.com/peletiah/poab/" target="_blank">poab</a> contains the main backend-scripts to analyze the data that was uploaded with poab_local and write it to the database and copy images to flickr.com</li>
<li><a href="http://github.com/peletiah/poab_pylons" target="_blank">poab_pylons</a> is the pylons-framework including controllers and templates that finally collects and merges all the content from the database and files to dynamically create the site you see.</li>
</ul>
            <p>I've used tons of open-source-code where dozens of individuals contributed to - i'm very thankful towards these people for releasing their software open and free, i must say i was standing on the shoulders of giants! These are most of the projects and scripts i'm using to create/run this website:</p>
                    <p>
                    <a target="_blank" href="http://pylonshq.com">Pylons</a><br />
                    <a target="_blank" href="http://www.makotemplates.org/">Mako</a><br />
                    <a target="_blank" href="http://www.postgresql.org/">PostgreSQL</a><br />
                    <a target="_blank" href="http://www.sqlalchemy.org/">SQLAlchemy</a><br />
                    <a target="_blank" href="http://www.lighttpd.net/">lighttpd</a><br />
                    <a target="_blank" href="http://httpd.apache.org/">Apache httpd</a><br />
                    <a target="_blank" href="http://debian.org">Debian<br />
                    <a target="_blank" href="http://www.gnu.org/">GNU</a><br />
                    <a target="_blank" href="http://stuvel.eu/projects/flickrapi">FlickrAPI</a><br />
                    <a target="_blank" href="http://steffensiebert.de/soft/python/wintec_tools.html">Wintec Tools</a><br />
                    <a target="_blank" href="http://www.carto.net/projects/photoTools/gpsPhoto/">gpsPhoto.pl</a><br />
                    <a target="_blank" href="http://www.sno.phy.queensu.ca/~phil/exiftool/">exiftool</a><br />
                    <a target="_blank" href="http://www.imagemagick.org">imagemagick</a><br />
                    <a target="_blank" href="http://www.carto.net/papers/svg/utils/shp2svg/">shp2svg</a>
                    </p>
        <p>
            This website is not finished, there are lots of features and optimizations i want to add but simply can't because i don't have any time left before i leave. I must also say i'm not entirely happy with the design, however, unlike <a href="http://ultrasmall.at" target="_blank">my elder brother</a>, i'm not too much into <a href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets" target="_blank">CSS</a> and graphics-design so the icons and typography will stay humble.</p>
<p>Todo:</p>
<ul>
<li>proper stats</li>
<li>overview-page</li>
<li>rss/atom-feed</li>
<li>keyboard navigation(j/k-thingy) for photo-section</li>
<li>comments</li>
<li>calendar selection</li>
<li>logo</li>
<li>...</li>
</ul>

<p>I also recognize that some people will find the navigation/menu odd and confusing - i hope i can improve the layout/design of the website sometime in the future in a way that helps in making the navigation appear more intuitive and obvious. My overall approach was to do it minimalistic and to lay focus on the content, i hope you at least appreciate the intention :-)</p>
<p>For starters, you can choose a country in the journal- or map-section via the country-map, the selection is applied to the other sections too then. Unselect by clicking on "All". The country-map is not available in photos as i wanted to show the images in maximum resolution and i haven't found a good way to still display the map.<br/>
Try to click on the smallish white icons in journal and maps(And the red map-markers too!)</p>
<p>Unlike a "professional" or commercial webdeveloper i also took the freedom to not consider "Internet Explorer"-compatibility - the Microsoft browser is just too outdated and doesn't play well with established technology and open standards(Like <a href="http://en.wikipedia.org/wiki/Scalable_Vector_Graphics" target="_blank">SVG</a>) to bother - maybe the next version, IE9, will play with the rules and show all of the features of this site how i intended them to be shown. In the meanwhile please use a modern browser like <a href="http://www.google.com/chrome" target="_blank">Chrome</a>, <a href="http://www.mozilla.com/en-US/firefox/firefox.html" target="_blank">Firefox</a> or <a href="http://www.apple.com/safari/" target="_blank">Safari</a> if you have trouble viewing (parts of) the site.</p>
<p>If you experience problems/bugs/errors on this website or want to leave feedback/suggestions/critics, please don't hesitate to contact me at benkokakao - gmail - com. I appreciate your concern!</p>
        <p><small>Updated 22.July 2010</small></p>
       </div>
        </div>
    </div>
    
    <div class="about">
        <h1>About equipment</h1>
        <div class="aboutcontent">
            <blockquote>
                I knew with a sinking heart that we where going to talk equipment. I could just see it coming. I hate talking equipment. "So what made you buy a Gregory pack?" he said. "Well, I thought it would be easier than carrying everything in my arms."
                </blockquote>
            <cite>&#8213; Bill Bryson - A Walk in the Woods</cite> 
            <div class="about_text"><p>Well, honestly i'm very much into equipment and i'm carrying far too much stuff around the planet. We'll see if i need it.</p>
            <p><small>Updated 22.July 2010</small></p>
            </div>
        </div>
    </div>
<p class="footer">
</p>
</div>


<script type="text/javascript">
$(".caption").hide();
$("div.about_images_caption").mouseover(function(){ 
      $(".caption",this).show();
      width=($("img[id='aboutimage']",this).width())
      $('div.about_images_caption').css({width: width});
 }).mouseout(function(){
      $(".caption",this).hide();
    });
</script>
