<link type="text/css" rel="Stylesheet" media="screen" href="/css/colorbox.css"/>
<link type="text/css" rel="stylesheet" media="screen" href="/css/jquery.lightbox.css" />

<script type="text/javascript">
    $(document).ready(function(){
        $("a[rel='image_colorbox']").colorbox({transition:"fade", photo:"true", height: "95%"});
    });
</script>
<div id="galleryimages">
<% i=0 %>
<!--firstimg ${c.firstimageid}<br>
lastimg ${c.lastimageid}<br>
firstimgonpage: ${c.firstimgonpage}<br>
prevstartfromimg ${c.prevstartfromimg}<br>
lastimgonpage: ${c.lastimgonpage}<br>
startfromimg: ${c.startfromimg}<br>
imagecount: ${c.imagecount}<br>-->
% for image in c.images:
 <div id="thumbIndv">
    <a rel="image_colorbox" href="http://benko.login.cx:8080/flickr/${image.flickrfarm}/${image.flickrserver}/${image.flickrphotoid}/${image.flickrsecret}/_b" title="${image.flickrtitle}">
	<img src="http://benko.login.cx:8080/flickr/${image.flickrfarm}/${image.flickrserver}/${image.flickrphotoid}/${image.flickrsecret}/_s">
    </a>
    </div>
<%   i=i+1 %>
% endfor
</div>
<div id="gallerypages">
% if c.prevstartfromimg >= c.firstimageid and c.prevstartfromimg != c.firstimgonpage:
<span class="gallerypageprev"><a href="javascript:showSubcontent('/track/gallery/${c.infomarker}/${c.prevstartfromimg}')">
</a></span>
% endif
% if c.startfromimg <= c.lastimageid and c.startfromimg != c.lastimgonpage:
<span class="gallerypagenext"><a href="javascript:showSubcontent('/track/gallery/${c.infomarker}/${c.startfromimg}')"></a></span>
% endif
</div>

