<%inherit file="site.html" />
<%include file="/menu/menu.html" />
<div id="content">
    <div id="track">
        <div id="map">
        </div>
        <div id="subcontent">
        </div>
    </div>
    <div id="overlayswitch">
        <input type="checkbox" onClick="enableWikipedia()"> Wikipedia Overlay<br>
        <input type="checkbox" onClick="toggletrack(this)" name="trackcheckbox" checked> Travelled<br>
        <input type="checkbox" onClick="togglemarkers(this)" name="trackcheckbox" checked> Markers
    </div>
% if c.error:
    <div id="error">
        ${c.error}
    </div>
% endif
</div>
<script type="text/javascript" >
//window.onload(load())
//window.onunload(GUnload())
function resetContent() {
    window.location='/track'
}
function showContent(link) {
    window.location=link
}
modMenu(${c.country_id})
showNavigation('${c.navstring}');
</script>
