<%def name="title()"></%def>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="Stylesheet" media="screen" href="/css/minimal_map.css"/>

    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAtBis1EsY3cr3r5-nc6tpURSn1OJP2Pt8vYqZWM-35sBIxmB9uBQHOgv5D5ZMxzfS8sAQ4wI448OmqQ"
      type="text/javascript"></script>
    <script src="/js/extinfowindow_packed.js" type="text/javascript"></script>
   <script>//<![CDATA[

   var map;
   var i = false;
   trackpolyline=new Array();
   trackmarker=new Array();


///////////////////// OVERLAYS //////////////////////////////

   function photoinfowindow(altitude,lat,lon,location,flickrthumb) {
        return '<div id="map_marker_content_img"><img src="'+flickrthumb+'"></div><div id="map_marker_content_text"><b>alt:</b>'+altitude+'m<br />'+location+'</div>';
   }
              


   function writegmarker(lat,lon,altitude,location,flickrthumb,n) {
        trackmarker[n] = new GMarker( new GLatLng(lat,lon) );
                GEvent.addListener(trackmarker[n], 'click', function(){
                trackmarker[n].openExtInfoWindow(
                  map,
                  "map_marker",
                  photoinfowindow(altitude,lat,lon,location,flickrthumb),
                  {beakOffset: 3}
                );
              });
	map.addOverlay(trackmarker[n]);
   }

    function writepolyline(encpts,enclvl,color,n) {
    var polyOptions = {geodesic:true};
	trackpolyline[n] = new GPolyline.fromEncoded({
                color: '#' + color,
                weight: 5,
                points: encpts,
                levels: enclvl,
                zoomFactor: 32,
                numLevels: 4
        });
	map.addOverlay(trackpolyline[n]);
      }
   
   function trackoverlay() {
	    markerlist = ${c.markerlist};
            for (var n=0; n<markerlist.length; n++) {
	        writegmarker(markerlist[n].lat,markerlist[n].lon,markerlist[n].altitude,markerlist[n].location,markerlist[n].flickrthumb,n)
	        writepolyline(markerlist[n].encpts,markerlist[n].enclvl,markerlist[n].color,n)
	}
    }



   function load() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_simple"));
        map.setCenter(new GLatLng('${c.trackpoint.latitude}', '${c.trackpoint.longitude}'), 6);
        map.setMapType(G_PHYSICAL_MAP);
        map.addControl(new GScaleControl()); //adds a small "legend" in the left lower corner
        map.addControl(new GSmallZoomControl3D()); //adds the standard zoom and pan-control
        var topLeft = new GControlPosition(G_ANCHOR_TOP_LEFT, new GSize(70,5));
        var mapControl = new GHierarchicalMapTypeControl();
        map.addMapType(G_PHYSICAL_MAP);
        mapControl.clearRelationships();
        mapControl.addRelationship(G_SATELLITE_MAP, G_HYBRID_MAP, "Labels", false);
        map.addControl(mapControl);
        map.addControl(new GOverviewMapControl ());
        map.enableScrollWheelZoom();
	trackoverlay();
      }
    }

    //]]></script>
   <title>${self.title()}</title>
  </head>
  <body onload="load()" onunload="GUnload()">
 <div id="map_simple" style="width: 950px; height: 550px">
    </div>
  </body>
</html>
   
