<%def name="title()"></%def>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link type="text/css" rel="Stylesheet" media="screen" href="/css/infoWindow.css"/>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAtBis1EsY3cr3r5-nc6tpURSn1OJP2Pt8vYqZWM-35sBIxmB9uBQHOgv5D5ZMxzfS8sAQ4wI448OmqQ"
      type="text/javascript"></script>
    <script src="/js/extinfowindow_packed.js" type="text/javascript"></script>
   <script>//<![CDATA[

   var map;
   var i = false;
   trackpolyline=new Array();
   trackmarker=new Array();


///////////////////// OVERLAYS //////////////////////////////

   function showSubcontent(contentlink) {
	$.ajax({
	    url: contentlink,
	    cache: true,
	    success: function(response) { 
			$("#subcontent").replaceWith('<div id="subcontent">' + response + '</div>');
		     }
        
	});
    }


   function controllerlink(markerdate,distance,timespan,gallerylink,loglink) {
        return '<div id="map_marker_content_text"><b>date:</b> '+markerdate+'<br>'+distance+timespan+gallerylink+loglink+'</div>';
   }


   function dissectcontentlink(contentlink) {
            if (contentlink != '') {
                dissectedlink = contentlink.split('(\'')[1].split('\')')[0];
                showSubcontent(dissectedlink);
            };
        }
            
                

   function writegmarker(lng,lat,markerdate,distance,timespan,gallerylink,loglink,n) {
        trackmarker[n] = new GMarker( new GLatLng(lng,lat) );
                GEvent.addListener(trackmarker[n], 'click', function(){
                trackmarker[n].openExtInfoWindow(
                  map,
                  "map_marker",
                  controllerlink(markerdate,distance,timespan,gallerylink,loglink),
                  {beakOffset: 3}
                );
                dissectcontentlink(gallerylink);        
              });
	map.addOverlay(trackmarker[n]);
   }

    function writepolyline(encpts,enclvl,color,n) {
	trackpolyline[n] = new GPolyline.fromEncoded({
                color: '#' + color,
                weight: 5,
                points: encpts,
                levels: enclvl,
                zoomFactor: 32,
                numLevels: 4
        });
	map.addOverlay(trackpolyline[n]);
      }

    function toggletrack(checkbox) {
	    for (var n=0; n<markerlist.length; n++) {
		if (checkbox.checked == true) {
		    trackpolyline[n].show()
		}
		else {
		    trackpolyline[n].hide()
		}
	    }

    }

    function togglemarkers(checkbox) {
	    for (var n=0; n<markerlist.length; n++) {
		if (checkbox.checked == true) {
		    trackmarker[n].show()
		}
		else {
		    trackmarker[n].hide()
		    trackmarker[n].closeExtInfoWindow(map)
		}
	    }

    }


   function trackoverlay() {
	    markerlist = ${c.markerlist};
            for (var n=0; n<markerlist.length; n++) {
	        writegmarker(markerlist[n].lat,markerlist[n].lon,markerlist[n].markerdate,markerlist[n].distance,markerlist[n].timespan,markerlist[n].gal,markerlist[n].log,n)
	        writepolyline(markerlist[n].encpts,markerlist[n].enclvl,markerlist[n].color,n)
	}
    }


  var wikiOverlay; // global
  wikiOverlay = new GLayer("org.wikipedia.en")


    function enableWikipedia() {
	    if (i == true) {
		map.removeOverlay(wikiOverlay);
		i=false;
	    }
	    else {
		map.addOverlay(wikiOverlay);
		i=true;
	    }
          }



   function load() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng('${c.infomarker.latitude}', '${c.infomarker.longitude}'), 12);
        map.setMapType(G_PHYSICAL_MAP);
        map.addControl(new GScaleControl()); //adds a small "legend" in the left lower corner
        map.addControl(new GLargeMapControl3D()); //adds the standard zoom and pan-control
        var topLeft = new GControlPosition(G_ANCHOR_TOP_LEFT, new GSize(70,5));
        map.addControl(new GNavLabelControl(),topLeft); //displays the current location(country/region/etc.)
        var mapControl = new GHierarchicalMapTypeControl();
        map.addMapType(G_PHYSICAL_MAP);
        mapControl.clearRelationships();
        mapControl.addRelationship(G_SATELLITE_MAP, G_HYBRID_MAP, "Labels", false);
        map.addControl(mapControl);
        map.addControl(new GOverviewMapControl ());
        map.enableScrollWheelZoom();
	trackoverlay();
      }
    }

    //]]></script>
   <title>${self.title()}</title>
  </head>
  <body onload="load()" onunload="GUnload()">
  	${self.body()}
  </body>
</html>
