<%include file="/menu/menu.html" />
<%inherit file="site.html" />

<div class="content"
<div class="stats">
<h2>Totals</h2>
<small>since 02.09.2010</small>
<hr/>

<h3>Distance</h3>
<p>Total distance cycled: <b>${c.total_distance}km</b></p>
<p>Average distance cycled/day: <b>${c.daily_avg}km</b></p>
<p>Greatest distance cycled/day: <b>${c.max_distance}km</b></p>
<p>Shortest distance cycled/day: <b>${c.min_distance}km</b></p>
<h3>Speed</h3>
<p>Average Speed: <b>${c.avg_speed}km/h</b></p>
<h3>Elevation</h3>
<p>Highest elevation(approx.): <b>${c.max_altitude}m</b></p>
<p>Lowest elevation(approx.): <b>${c.min_altitude}m</b></p>
<br/><br/>
<p>More stats will follow, someday!</p>
</div>
</div>
