body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td 
{
margin:0;
padding:0;
}

html {
    height: 100%;
}

body {
   color: #EEEEEE;
	background-color: #222222;
	margin: 0 0 0 auto;
   width: 100%
	padding: 0;
   font: normal 0.9em trebuchet, "Lucida Sans Unicode", "Lucida Grande", verdana, arial,'Bitstream Vera Sans',helvetica,sans-serif;
   height: 100%;
   display: block;
}

body a {
    color: #CCCCCC;
    text-decoration: underline;
    }

body a:hover {
        color: #FFFFFF;
	     padding: 0.2em
	     border: solid #000000;
        border-width: 0.05em;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
        }

.content {
    min-width: 990px;
    width: 80%;
    min-height: 70%;
    height: 100%;
    /*height: auto --doesn't work with IE/Opera! */
    margin: auto;
}

.content h2 {
    font-size: 120%;
}

.content h3 {
    font-size: 110%;
}

.view_content {
    min-width: 990px;
    width: 990px;
    min-height: 70%;
    height: 100%;
    /*height: auto --doesn't work with IE/Opera! */
    margin: 2em auto;
}

#track {
    float: left;
    display:block;
    width:100%;
    height:85%;
    /*min-width: 990px;*/
    }


#map {
    display: block;
	 float: left;
	 width: 100%;
	 height: 100%;
    border: 0.05em solid #000000;
    border-width: 0.05em;
    color: #333333;
    margin: 5em auto;
        }

#map a {
    color: #333333;
}

#map a:hover {
    color: #AAAAAA;
}

#error {
   position: fixed;
   top: 1em;
   left: 1em;
   color: red;
   background: #F99;
   border: 1px solid;
   padding: 0.2em 0.5em 0.2em 0.5em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
   }

#details {
   position: fixed;
   top: 0.5em;
   left: 0.5em;
   color: #AAAAAA;
   border: 1px solid;
   padding: 0.2em 0.5em 0.2em 0.5em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
   }


