#map_marker {
    width: 175px;
    margin-left: 50px;
}

#map_marker_beak {
    width: 16px;
    height: 11px;
    margin-left: -50px;
    margin-top: 2px;
    background-image: url('/images/infowindow/beak_grey.png');
}

#map_marker b {
    padding: 0 100px;
    display: block;
}

#map_marker_contents {
    background-color: #666666;
    opacity: 0.8;
}

#map_marker_contents a {
    margin-left: 4px;
    color: #eda22d;
    font-weight: bold;
}

#map_marker_tl, #map_marker_tr, #map_marker_br, #map_marker_bl {
    width: 7px;
    height: 7px;
}
#map_marker_tl {
    background-image: url('/images/infowindow/grey_tl.png');
     opacity: 0.8;
}
#map_marker_tr {
    background-image: url('/images/infowindow/grey_tr.png');
    opacity: 0.8;
}
#map_marker_bl {
    background-image: url('/images/infowindow/grey_bl.png');
    opacity: 0.8;
}
#map_marker_br {
    background-image: url('/images/infowindow/grey_br.png');
    opacity: 0.8;
}
#map_marker_t, #map_marker_b {
    height: 0px;
    width: auto;
    background-color: #666666;
    border: None;
    opacity: 0.8;
}
#map_marker_t {
    border-top: 2px solid #444444;
}
#map_marker_b {
    margin-top: -2px;
    border-bottom: 2px solid #444444;
}
#map_marker_l, #map_marker_r {
    width: 2px;
    height: auto;
    background-color: #444444;
    opacity: 0.8;
}

