body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td 
{
margin:0;
padding:0;
}

html {
    height: 100%;
}

body {
	background-color: #222222;
	margin: 0 0 0 0;
	padding: 0 0 0 3em;
   font: normal 0.9em trebuchet, "Lucida Sans Unicode", "Lucida Grande", verdana, arial,'Bitstream Vera Sans',helvetica,sans-serif;
   height: 100%;
}

body a {
    color: #CCCCCC;
    text-decoration: underline;
    }

body a:hover {
        color: #FFFFFF;
	     padding: 0.2em
	     border: solid #000000;
        border-width: 0.05em;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
        }


.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


.clearfix { height: 1%; }

.clearfix { display:inline-block; }


#menublock {
   display: block;
   margin: 1em 0 0 -0.5em;
   padding: 0;
   min-width: 990px;
	width: 94%;
	z-index: 3;
   float: left;
}

.menucontent {
	list-style: none;
}

.menucontent img {
    border: none;
}

.menucontent ul {
	border: none;
	padding: 0.5em;
	}

.menucontent li {
	  float: left;
	  margin-left: 0.2em;
}

.menucontent a {
    color: #EEEEEE;
    text-decoration: none;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

.menucontent a:hover {
        background: #00607f;
        color: #FFFFFF;
        text-decoration: bold;
	     padding: 0.2em 0.5em 0.2em 0.5em;
        margin:none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;
}

.menucli a:hover {
	 background-color: #222222;
}        


.menu_nodecoration a:hover {
    background-color: #222222;
      
}
.navigation {
    color: #CCCCCC;
    border: none;
    font-size:80%;
    padding: 0.1em;
    }

.navigation ul {
    padding: 0;
    margin: 0;
	list-style: none;
}


.navigation a {
    color: #CCCCCC;
    text-decoration: none;
    padding: 0.1em;
}



.navigation a:hover {
        text-decoration: underline;
        color: #FFFFFF;
        padding: 0.1em;
	     background-color: #222222;
        
}

.navigation span {
    color: #CCCCCC;
    text-decoration: none;
    padding: 0.1em;
}
.navli {
 /*   background: #3274D0 url(/images/menu/del_sprite_tagScopeNav.png) no-repeat scroll right -1200px */
   } 

.navli a:hover {
  /*  background: #00607f url(/images/menu/del_sprite_tagScopeNav.png) no-repeat scroll right -1200px */
    border: none;
   } 


#viewbydate {
    display:inline;
    float: left;
}


#viewbydatecheck {
    display: inline;
    float: left;
}


#content {
   min-width: 990px;
	width: 94%;
   height: 88%;
	color: #EEEEEE;
	margin-left: auto;
   margin-right: auto;
   margin-top: 2em;
   display: block;
    float: left;
}

#content h2 {
    font-size: 120%;
}

#content h3 {
    font-size: 110%;
}

#log {
   max-width: 36em;
   float: left;
}


#logdetail {
   display: block;
	float: left;
   background-color: #444444;
   border: solid #000000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px; 
	border-width: 0.05em;
   margin: 2em 0 2em 0;
   position: relative;
   width: 580px;
}

#logdetail_icons {
    display: block;
    float: left;
    margin-top:0.5em;
}

.image_icon a {
    background: url('/images/infowindow/image_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float: left;
}

.image_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/image_icon_red.png') no-repeat; 
}

.log_icon a {
    background: url('/images/infowindow/log_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.log_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/log_icon_red.png') no-repeat;   
}

.track_icon a {
    background: url('/images/infowindow/track_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.track_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/track_icon_red.png') no-repeat;   
}

.stats_icon a {
    background: url('/images/infowindow/stats_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.stats_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/stats_icon_red.png') no-repeat;   
}

.permalink {
    font-size: 70%;
    margin: 1em 0;
    float: left;
    display:block;
    width: 100%;
}

#logdetail a {
        color: #CCCCCC;
        text-decoration: underline;
	/*padding: 0.2em this shit makes stupid gaps where you don't find them, not sure why i added it*/
       }

#logdetail a:hover {
        color: #FFFFFF;
	     padding: 0.2em
	     border: solid #000000;
        border-width: 0.05em;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        -khtml-border-radius: 8px;
        border-radius: 8px;
        }

.imagedescription {
    font-size: 80%;
    font-style: italic;
    margin: 0.5em 0 1em 0;
    float: left;
    width: 100%;
}


#log_inlineimage {
        padding: 2em 0 2em 0;
       }

#log_inlineimage a{
  font-family: Arial,Helvetica;
  color: #aaa;
}

#log_inlineimage span {
}
#log_inlineimage a:hover {
  color: #fff;
}
#log_inlineimage a span {
  text-decoration: none;
}

.logheader {
    background: #00607f;
    color: #CCCCCC;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 6px;
    -khtml-border-top-right-radius: 6px;
    border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 6px;
    -khtml-border-top-left-radius: 6px;
    border-radius-topleft: 5px;
    padding: 0.5em 0;
    font-size: 100%;
    width: 100%;
    position:absolute;
    left:0; top:0;
    overflow:hidden;
    display:block;
}

#logheader_right {
        float:right;
    padding: 0 0.5em 0 0;
    /*width: 290px;*/
    text-align: right;
    width:25em;
}

#logheader_left {
    float:left;
    padding: 0 0 0 2em;
    text-align: center;
    /*width:390px;*/
    margin: 0;
}

#logcontent {
   padding:1em 1.5em 1em 2em;
   width: 37em;
   margin: 2.5em 0 0 0;
}

#logcontent h2 {
    size: 120%;
    padding: 0 0 1em 0;
}

#logcontent h2 a {
    text-decoration: none;
    color: #EEEEEE;
} 

#logcontent h2 a:hover {
   text-decoration: underline;
    color: #FFFFFF;
}
#logfooter {
        height: 3em;
        padding: 3em;
        margin-top: 2em;
        display: block;
}

.twitter {
    background: none no-repeat scroll 0 0 #EEEEEE;
    display: block;
    float: left;
    border: solid #000000 1px;
    margin: 1.5em 0;
    position: relative;
    color: #000000;
    width: 580px;
    border: solid #000000;
   -moz-border-radius: 8px;
   -webkit-border-radius: 8px;
   -khtml-border-radius: 8px;
   border-radius: 8px;
   border-width: 0.05em;
    
}

.twittercontent {
    padding: 1em 1.5em 1em 2em;
    margin: 2em 0 0 0;
}

.twittercontent a {
    color: #444444
}

.twittercontent a:hover {
    color: #111111
}

.twitter_icon a{
    background: url(/images/log/twitter.png) no-repeat scroll 0 0;
    background-position:left center;
    background-repeat:no-repeat;
    height:16px;
    width:16px;
    position: absolute;
    top: 0.5em;
    left: 0.3em;
}

.txt_icon a{
    background: url(/images/infowindow/log_icon.png) no-repeat scroll 0 0;
    background-position:left center;
    background-repeat:no-repeat;
    height:18px;
    width:18px;
    position: absolute;
    top: 0.5em;
    left: 0.3em;
}

.pages {
   display: inline-block;
	float: left;
   margin: 0 0 -1.5em 0;
}

.pages a {
    text-decoration: none;
}

.page_arrow {
    text-decoration: none;
}

.logpagenext a,.logpageprev a,.logpagelowest a,.logpagehighest a {
    width:20px;
    height:20px;
    background:url(/images/icons/controls_transwhite_with_end.png) no-repeat;
    display: block;
    float: left;
}


.logpagelowest a {
    background-position:-122px 0px;
}

.logpagelowest a:hover {
    background-position:-122px -25px;
}

.logpagehighest a {
    text-align: right;
    background-position:-150px 0px;
}

.logpagehighest a:hover {
    background-position:-150px -25px;
}

.logpageprev a {
    background-position:0px 0px;
}

.logpageprev a:hover {
    background-position:0px -25px;
}

.logpagenext a {
    background-position:-25px 0px;
}

.logpagenext a:hover {
    background-position:-25px -25px;
}

.view {
    margin: 4em 0;
}

#map_svg {
	 display:inline;
	 float: left;
	 z-index: 1;
	 margin: 2em 0 0 3em;
	 }



#track {
    float: left;
    display:block;
    width:100%;
    height:95%;
    }


#map {
    display: block;
	 float: left;
	 width: 100%;
	 height: 100%;
    border: 0.05em solid #000000;
    border-width: 0.05em;
    color: #333333;
        }

#map a {
    color: #333333;
}

#map a:hover {
    color: #AAAAAA;
}

#subcontent {
	 display:inline;
	 float: left;
	 z-index: 1;
	 margin: 0 0 0 6em;
	 }

.sub_track {
    margin: 0 0 0 1em;
}

#gallery a {
        border: None;
        color: #CCCCCC;
}

#galleryimages {
    height: 468px;
	 width: 312px;
    float: left;
    display: inline;
}

#minimal_log {
    height: 468px;
    width: 312px;
    float: left;
    display: inline;
    font-size: 80%;
    overflow:auto;
}

#minimal_log h2 {
    font-size: 120%;
}

#gallerypages {
        display: block;
}

.gallerypagenext a,.gallerypageprev a,.gallerypagelowest a,.gallerypagehighest a {
    width:20px;
    height:20px;
    background:url(/images/icons/controls_transwhite_with_end.png) no-repeat;
    display: block;
    float: left;
}


.gallerypagelowest a {
    background-position:-120px 0px;
}

.gallerypagelowest a:hover {
    background-position:-120px -25px;
}

.gallerypagehighest a {
    position: absolute;
    margin-left: 296px;
    margin-top: 468px;
    background-position:-150px 0px;
}

.gallerypagehighest a:hover {
    background-position:-150px -25px;
}

.gallerypageprev a {
    background-position:0px 0px;
}

.gallerypageprev a:hover {
    background-position:0px -25px;
}

.gallerypagenext a {
    position: absolute;
    margin-left: 273px;
    margin-top: 468px;
    background-position:-25px 0px;
}

.gallerypagenext a:hover {
    background-position:-25px -25px;
}

#overlayswitch {
    display: block;
    float: left;
    margin-top: 1.5em;
    }

#setThumbs {
	float: left;
	display: block;
}
	
#thumbIndv {
   float: left;
	height: 75px;
	width: 75px;
	margin: 0;
	margin-bottom: 3px;
	margin-left: 3px;
	padding: 0;
}

#thumbIndv img {
	border:medium none;
}

#error {
	position: fixed;
	top: 5.1em;
	color: red;
   background: #F99;
   border: 1px solid;
	padding: 0.2em 0.5em 0.2em 0.5em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
	}	


#view_gallery {
    margin-top: 2em;
}

.resize {
width: 990px;
height : auto;
}


.about {
    float: left;
    display: inline;
    width: 60%;
    font-size:90%;
   background-color: #444444;
   border: solid #000000;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px; 
	border-width: 0.05em;
   margin: 2em 0 2em 0;
   position: relative;

}

.about h1 {
    font-size: 110%;
    background: #00607f;
    color: #CCCCCC;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -khtml-border-top-right-radius: 6px;
    border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 6px;
    -khtml-border-top-left-radius: 6px;
    border-radius-topleft: 5px;
    padding: 0.5em;
    margin: 0;
}

.aboutcontent {
    padding:1em 1.5em 1em 2em;
}

.aboutcontent ul {
    margin: 1em 2em;
}


.footer {
    padding: 1em;
    float:left;
    display: block;
    width:100%;
}
    
.about_images {
    float: left;
    clear: left;
    display: inline;
    margin: 0 2em 0.5em 0;
}

.about_images_caption {
    float: left;
    clear: left;
    display: inline;
    position: relative;
    margin: 0 2em 0.5em 0;
}

.about_text {
    display: inline;
}

.about_text p {
    margin:0 0 1em 0;
}

.about_text small {
    font-size: 70%;
}

blockquote {
    width: 35em;
    font-style: oblique;
    font-size: 100%;
    font-weight: bold;
    margin:0;
}

cite {
    text-decoration: none;
    margin: 0.7em 0  2em 1em;
    display:block;
    width: 40%;
    font-style: normal;
}
