html {
    height: 100%;
}

body {
	background-color: #444444;
	margin: 1em auto;
	padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


.clearfix { height: 1%; }

.clearfix { display:inline-block; }

#menu {
	top: 0.9em;
	margin-left: 3%;
	margin-right: 3%;
   width: 94%;
	z-index: 89;
   opacity: 0.8;
}

#menu ul {
	list-style: none;
	border: solid #000000;
        border-width: 0.05em;
	padding: 0.5em
	}

#menu li {
	  float: left;
	  margin-left: 1em;
}

#menu a {
        color: #222222;
        text-decoration: none;
	     padding: 0.2em
        }

#menu a:hover {
        background-color: #222222;
        color: #235E96;
        text-decoration: bold;
	     padding: 0.2em
	     border: solid #000000;
        border-width: 0.05em;
        margin:none;
        }


#menu form {
    margin : 0;
    padding : 0;
    display: inline;
}

#menu img {
	float: left;
   style: none;
   border: none;
}

#menu_nodecoration a:hover {
    background-color: #666666;
      
}

#menu toggledate {
	z-index: 1000;
	margin: 0.2em;
	 }

#menu togglecountry {
	z-index: 1000;
	margin: 0.2em;
	 }


#menucontent {
	      background:#666666; 
	      border: solid #000000;
	      border-width: 0.1em;
	      -moz-border-radius: 0.7em;
	      -webkit-border-radius: 0.7em;
	      border-radius: 0.7em; 
         font: normal 1em helvetica,sans-serif;
	      color: #222222;
	      width: 100%; 
         height: 1.4em;
	    }

#viewbydate {
    display:inline;
    float: left;
}


#viewbydatecheck {
    display: inline;
    float: left;
}


#content {
	width: 94%;
   font: normal 0.9em trebuchet, verdana, arial,'Bitstream Vera Sans',helvetica,sans-serif;
	color: #222222;
	margin-left: 3%;
   margin-right: 3%;
   margin-top: 1em;
}

#content h2 {
    font-size: 120%;
}

#content h3 {
    font-size: 110%;
}

#log {
    width: 45em;
}

#logdetail {
    display: block;
	float: left;
   background-color: #777777;
   border: solid #000000;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
	border-radius: 0.7em; 
	border-width: 0.05em;
   padding:1em 2em 2em;
	margin-bottom: 2em;
}

#logdetail_icons {
    display: block;
    float: left;
    margin-top:0.5em;
}

.image_icon a {
    background: url('/images/infowindow/image_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float: left;
}

.image_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/image_icon_red.png') no-repeat; 
}

.log_icon a {
    background: url('/images/infowindow/log_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.log_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/log_icon_red.png') no-repeat;   
}

.track_icon a {
    background: url('/images/infowindow/track_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.track_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/track_icon_red.png') no-repeat;   
}

.stats_icon a {
    background: url('/images/infowindow/stats_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.stats_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/stats_icon_red.png') no-repeat;   
}
#logdetail a {
        color: #444444;
        text-decoration: none;
	padding: 0.2em
       }


#log_inlineimage {
    margin: 1em;
    font-size: 80%;
       }

#log_inlineimage img {
    margin-bottom:1em;
}

#logdetail a:hover {
        color: #000000;
	     padding: 0.2em
	     border: solid #000000;
        border-width: 0.05em;
        -moz-border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em;
        }


#log_footer {
        margin-bottom: 2em;
        float: left;
        display: block;
}

#track {
    float: left;
    display:block;
    width:100%;
    height:80%;
    }


#map {
    display: block;
	 float: left;
	 width: 60%;
	 height: 100%;
    border: 0.05em solid #000000;
    border-width: 0.05em;
        }


#gallery {
	 display:inline;
	 float: left;
	 height: 100%;
	 width: 312px;
	 z-index: 1;
	 margin-left: 3em;
	 }

#overlayswitch {
    display: block;
    float: left;
    margin-top: 1.5em;
    }

#setThumbs {
	float: left;
	display: block;
}
	
#thumbIndv {
   float: left;
	height: 75px;
	width: 75px;
	margin: 0;
	margin-bottom: 3px;
	margin-left: 3px;
	pading: 0;
}

#thumbIndv img {
	border:medium none;
}

#error {
	position: fixed;
	top: 5.1em;
	margin-left: 3em;
	color: red;
	}	


#view_gallery {
    margin-top: 2em;
}

#about_me {
    float: left;
    display: inline;
}

.img {
    float: left;
    display: inline;
}
