html {
    height: 100%;
}

body {
	background-color: #222222;
	margin: 0 0 0 0;
	padding: 0;
   font: normal 0.9em trebuchet, "Lucida Sans Unicode", "Lucida Grande", verdana, arial,'Bitstream Vera Sans',helvetica,sans-serif;
   height: 100%;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


.clearfix { height: 1%; }

.clearfix { display:inline-block; }

#menu {
	margin-left: auto;
	margin-right: auto;
   min-width: 970px;
	width: 94%;
	z-index: 3;
}

#menu ul {
	list-style: none;
	border: solid #000000;
   border-width: 0.05em;
	padding: 0.5em;
	}

#menu li {
	  float: left;
	  margin-left: 0.2em;
}

#menu a {
        color: #EEEEEE;
        text-decoration: none;
        padding: 0.2em 0.5em 0.2em 0.5em;

        }

#menu a:hover {
        background: #00607f;
        color: #FFFFFF;
        text-decoration: bold;
	     padding: 0.2em 0.5em 0.2em 0.5em;
        margin:none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;

        }


#menu form {
    margin : 0;
    padding : 0;
    display: inline;
}

#menu img {
   margin-left: 0.8em;
	float: left;
   style: none;
   border: none;
}

#menu_nodecoration a:hover {
    background-color: #333333;
      
}

#menu toggledate {
	z-index: 2;
	margin: 0.2em;
	 }

#menu togglecountry {
	z-index: 2;
	margin: 0.2em;
	 }


#menucontent {
	      background:#444444; 
	      border: solid #000000;
	      border-width: 0.1em;
	      -moz-border-radius: 0.7em;
	      -webkit-border-radius: 0.7em;
	      -khtml-border-radius: 0.7em;
	      border-radius: 0.7em; 
         font: normal 1em helvetica,sans-serif;
	      color: #EEEEEE;
	      width: 100%; 
         height: 1.4em;
	    }

#viewbydate {
    display:inline;
    float: left;
}


#viewbydatecheck {
    display: inline;
    float: left;
}


#content {
   min-width: 990px;
	width: 94%;
   height: 100%;
	color: #EEEEEE;
	margin-left: auto;
   margin-right: auto;
   margin-top: 2em;
}

#content h2 {
    font-size: 120%;
}

#content h3 {
    font-size: 110%;
}

#log {
   max-width: 37em;
   float: left;
}


#logdetail {
   display: block;
	float: left;
   background-color: #444444;
   border: solid #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px; 
	border-width: 0.05em;
   margin: 2em 0 6em 0;
   position: relative;
}

#logdetail_icons {
    display: block;
    float: left;
    margin-top:0.5em;
}

.image_icon a {
    background: url('/images/infowindow/image_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float: left;
}

.image_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/image_icon_red.png') no-repeat; 
}

.log_icon a {
    background: url('/images/infowindow/log_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.log_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/log_icon_red.png') no-repeat;   
}

.track_icon a {
    background: url('/images/infowindow/track_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.track_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/track_icon_red.png') no-repeat;   
}

.stats_icon a {
    background: url('/images/infowindow/stats_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.stats_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/stats_icon_red.png') no-repeat;   
}
#logdetail a {
        color: #CCCCCC;
        text-decoration: underline;
	/*padding: 0.2em this shit makes stupid gaps where you don't find them, not sure why i added it*/
       }

#logdetail a:hover {
        color: #FFFFFF;
	     padding: 0.2em
	     border: solid #000000;
        border-width: 0.05em;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        }




#log_inlineimage {
    margin-top: 2em;
    margin-bottom: 2em;
       }

.imagedescription {
    font-size: 80%;
    font-style: italic;
}

#log_inlineimage a{
  font-family: Arial,Helvetica;
  color: #aaa;
}

#log_inlineimage span {
  padding-left: .5em;
}
#log_inlineimage a:hover {
  color: #fff;
}
#log_inlineimage a span {
  text-decoration: none;
}



#logheader {
        background: #00607f;
        color: #CCCCCC;
        -moz-border-radius-topright: 8px;
        -webkit-border-top-right-radius: 8px;
        -khtml-border-top-right-radius: 8px;
        border-radius-topright: 8px;
        -moz-border-radius-topleft: 8px;
        -webkit-border-top-left-radius: 8px;
        -khtml-border-top-left-radius: 8px;
        border-radius-topleft: 8px;
        padding: 0.5em;
        font-size: 120%;
        width: 100%;
}

.leftcol {
        text-align: left;
}

.rightcol {
        text-align: right;
}
#logcontent {
   padding:0 1.5em 1em 2em;
   width: 35em;
}

#logfooter {
        height: 3em;
        padding: 3em;
        margin-top: 2em;
        display: block;
}

#pages {
   display: inline-block;
	float: left;
}

.logpagenext a,.logpageprev a,.logpagelowest a,.logpagehighest a {
    width:20px;
    height:20px;
    background:url(/images/icons/controls_transwhite_with_end.png) no-repeat;
    display: block;
    float: left;
}


.logpagelowest a {
    background-position:-122px 0px;
}

.logpagelowest a:hover {
    background-position:-122px -25px;
}

.logpagehighest a {
    text-align: right;
    background-position:-150px 0px;
}

.logpagehighest a:hover {
    background-position:-150px -25px;
}

.logpageprev a {
    background-position:0px 0px;
}

.logpageprev a:hover {
    background-position:0px -25px;
}

.logpagenext a {
    background-position:-25px 0px;
}

.logpagenext a:hover {
    background-position:-25px -25px;
}

#map_svg {
	 display:inline;
	 float: left;
	 z-index: 1;
	 margin: 2em 0 0 3em;
	 }



#track {
    float: left;
    display:block;
    width:100%;
    height:80%;
    }


#map {
    display: block;
	 float: left;
	 width: 100%;
	 height: 80%;
    border: 0.05em solid #000000;
    border-width: 0.05em;
    color: #333333;
        }

#map a {
    color: #333333;
}

#map a:hover {
    color: #AAAAAA;
}

#subcontent {
	 display:inline;
	 float: left;
	 z-index: 1;
	 margin-left: 3em;
	 }


#gallery a {
        border: None;
        color: #CCCCCC;
}

#galleryimages {
    height: 468px;
	 width: 312px;
    float: left;
    display: inline;
}

#minimal_log {
    height: 468px;
    width: 312px;
    float: left;
    display: inline;
    font-size: 80%;
    overflow:auto;
}

#minimal_log h2 {
    font-size: 120%;
}

#gallerypages {
        display: block;
}

.gallerypagenext a,.gallerypageprev a,.gallerypagelowest a,.gallerypagehighest a {
    width:20px;
    height:20px;
    background:url(/images/icons/controls_transwhite_with_end.png) no-repeat;
    display: block;
    float: left;
}


.gallerypagelowest a {
    background-position:-120px 0px;
}

.gallerypagelowest a:hover {
    background-position:-120px -25px;
}

.gallerypagehighest a {
    position: absolute;
    margin-left: 296px;
    margin-top: 468px;
    background-position:-150px 0px;
}

.gallerypagehighest a:hover {
    background-position:-150px -25px;
}

.gallerypageprev a {
    background-position:0px 0px;
}

.gallerypageprev a:hover {
    background-position:0px -25px;
}

.gallerypagenext a {
    position: absolute;
    margin-left: 273px;
    margin-top: 468px;
    background-position:-25px 0px;
}

.gallerypagenext a:hover {
    background-position:-25px -25px;
}

#overlayswitch {
    display: block;
    float: left;
    margin-top: 1.5em;
    }

#setThumbs {
	float: left;
	display: block;
}
	
#thumbIndv {
   float: left;
	height: 75px;
	width: 75px;
	margin: 0;
	margin-bottom: 3px;
	margin-left: 3px;
	padding: 0;
}

#thumbIndv img {
	border:medium none;
}

#error {
	position: fixed;
	top: 5.1em;
	color: red;
   background: #F99;
   border: 1px solid;
	padding: 0.2em 0.5em 0.2em 0.5em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
	}	


#view_gallery {
    margin-top: 2em;
}

.resize {
width: 990px;
height : auto;
}

#facts_about_me {
    float: left;
    display: inline;
}

#facts_portrait {
    float: left;
    display: inline;
}

#facts_cv {
    float: left;
    display: inline;
    margin-left: 3em;
    font-weight: bold;
}
