html {
    height: 100%;
}

body {
	background-color: #444444;
	margin: 1em auto;
	padding: 0;
   font: normal 0.9em trebuchet, "Lucida Sans Unicode", "Lucida Grande", verdana, arial,'Bitstream Vera Sans',helvetica,sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


.clearfix { height: 1%; }

.clearfix { display:inline-block; }

#menu {
	margin-left: 3%;
	margin-right: 3%;
   width: 94%;
	z-index: 30000;
   opacity: 0.8;
}

#menu ul {
	list-style: none;
	border: solid #000000;
   border-width: 0.05em;
	padding: 0.5em;
	}

#menu li {
	  float: left;
	  margin-left: 0.2em;
}

#menu a {
        color: #222222;
        text-decoration: none;
        padding: 0.2em 0.5em 0.2em 0.5em;
        }

#menu a:hover {
        background: #00607f;
        color: #CCCCCC;
        text-decoration: bold;
	     padding: 0.2em 0.5em 0.2em 0.5em;
        margin:none;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
        border-radius: 5px;

        }


#menu form {
    margin : 0;
    padding : 0;
    display: inline;
}

#menu img {
   margin-left: 0.8em;
	float: left;
   style: none;
   border: none;
}

#menu_nodecoration a:hover {
    background-color: #666666;
      
}

#menu toggledate {
	z-index: 1000;
	margin: 0.2em;
	 }

#menu togglecountry {
	z-index: 1000;
	margin: 0.2em;
	 }


#menucontent {
	      background:#666666; 
	      border: solid #000000;
	      border-width: 0.1em;
	      -moz-border-radius: 0.7em;
	      -webkit-border-radius: 0.7em;
	      -khtml-border-radius: 0.7em;
	      border-radius: 0.7em; 
         font: normal 1em helvetica,sans-serif;
	      color: #222222;
	      width: 100%; 
         height: 1.4em;
	    }

#viewbydate {
    display:inline;
    float: left;
}


#viewbydatecheck {
    display: inline;
    float: left;
}


#content {
	width: 94%;
   height: 100%;
	color: #222222;
	margin-left: 3%;
   margin-right: 3%;
   margin-top: 1em;
}

#content h2 {
    font-size: 120%;
}

#content h3 {
    font-size: 110%;
}

#log {
    width: 35em;
}

#logdetail {
   display: block;
	float: left;
   background-color: #777777;
   border: solid #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px; 
	border-width: 0.05em;
	margin-bottom: 2em;
}

#logdetail_icons {
    display: block;
    float: left;
    margin-top:0.5em;
}

.image_icon a {
    background: url('/images/infowindow/image_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float: left;
}

.image_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/image_icon_red.png') no-repeat; 
}

.log_icon a {
    background: url('/images/infowindow/log_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.log_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/log_icon_red.png') no-repeat;   
}

.track_icon a {
    background: url('/images/infowindow/track_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.track_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/track_icon_red.png') no-repeat;   
}

.stats_icon a {
    background: url('/images/infowindow/stats_icon.png') no-repeat;
    height: 18px;
    width: 18px;
    display: block;
    float:left;
}

.stats_icon a:hover {
    width: 18px;
    height: 18px;
    background: url('/images/infowindow/stats_icon_red.png') no-repeat;   
}
#logdetail a {
        color: #444444;
        text-decoration: none;
	padding: 0.2em
       }


#log_inlineimage {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 80%;
    font-style: italic;
       }

#log_inlineimage img {
    margin-bottom:1em;
}

#logdetail a:hover {
        color: #000000;
	     padding: 0.2em
	     border: solid #000000;
        border-width: 0.05em;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        }

#logheader {
        background: #00607f;
        color: #CCCCCC;
        -moz-border-radius-topright: 8px;
        -webkit-border-top-right-radius: 8px;
        -khtml-border-top-right-radius: 8px;
        border-radius-topright: 8px;
        -moz-border-radius-topleft: 8px;
        -webkit-border-top-left-radius: 8px;
        -khtml-border-top-left-radius: 8px;
        border-radius-topleft: 8px;
        padding: 0.5em;
        font-size: 90%;
        width: 100%;
}

.leftcol {
        text-align: left;
}

.rightcol {
        text-align: right;
}
#logcontent {
   padding:0 3em 1em 2em;
   width: 530px;
}

#log_footer {
        margin-bottom: 2em;
        float: left;
        display: block;
}

#track {
    float: left;
    display:block;
    width:100%;
    height:80%;
    }


#map {
    display: block;
	 float: left;
	 width: 60%;
	 height: 100%;
    border: 0.05em solid #000000;
    border-width: 0.05em;
        }


#gallery {
	 display:inline;
	 float: left;
	 z-index: 1;
	 margin-left: 3em;
	 }

#gallery a {
        border: None;
        color: #CCCCCC;
}

#galleryimages {
    height: 468px;
	 width: 312px;
    float: left;
    display: inline;
}

#gallerypages {
        display: block;
}

#overlayswitch {
    display: block;
    float: left;
    margin-top: 1.5em;
    }

#setThumbs {
	float: left;
	display: block;
}
	
#thumbIndv {
   float: left;
	height: 75px;
	width: 75px;
	margin: 0;
	margin-bottom: 3px;
	margin-left: 3px;
	padding: 0;
}

#thumbIndv img {
	border:medium none;
}

#error {
	position: fixed;
	top: 5.1em;
	color: red;
   background: #F99;
   border: 1px solid;
	padding: 0.2em 0.5em 0.2em 0.5em;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
   border-radius: 5px;
	}	


#view_gallery {
    margin-top: 2em;
}

#facts_about_me {
    float: left;
    display: inline;
}

#facts_portrait {
    float: left;
    display: inline;
}

#facts_cv {
    float: left;
    display: inline;
    margin-left: 3em;
    font-weight: bold;
}
