body {
	background-color: #c4cdad;
	margin: 1em auto;
	padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


.clearfix { height: 1%; }

.clearfix { display:inline-block; }

#menu {
	position:fixed;
	top: 0.9em;
	width: 56em;
	margin-left: 4em;
	margin-right: auto;
	z-index: 89;
        opacity: 0.8;
}

#menu ul {
	list-style: none;
	border: solid #000000;
        border-width: 0.05em;
	padding: 0.5em
	}

#menu li {
	  float: left;
	  margin-left: 1em;
}

#menu a {
        color: #222222;
        text-decoration: none;
	padding: 0.2em
        }

#menu a:hover {
        color: #000000;
	background-color: #888888;
	padding: 0.2em
	border: solid #000000;
        border-width: 0.05em;
        -moz-border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em;
        }

#menu a:visited {
        color: #222222;
        text-decoration: none;
	padding: 0.2em
        }



#menu form {
    margin : 0;
    padding : 0;
    display: inline;
}

#menu img {
	float: left;
}

#menu toggledate {
	z-index: 1000;
	margin: 0.2em;
	 }

#menu togglecountry {
	z-index: 1000;
	margin: 0.2em;
	 }


#menucontent {
	      background:#d9b421; 
	      border: solid #000000;
	      border-width: 0.1em;
	      -moz-border-radius: 0.7em;
	      -webkit-border-radius: 0.7em;
	      border-radius: 0.7em; 
	      font-family: helvetica; 
	      font-height: 100%;
	      color: #222222;
	      padding: 0em;
	      width: 56em; 
	    }



#content {
	position: relative;
	width: 56em;
	font: normal 1em verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	color: #222222;
	margin-left: 4em;
}

#log {
    margin-top: 7em;
}

#logdetail {
	float: left;
        width: 45em;
        background-color: #9bacbc;
        border: solid #000000;
	-moz-border-radius: 0.7em;
	-webkit-border-radius: 0.7em;
	border-radius: 0.7em; 
	border-width: 0.05em;
	margin-bottom: 2em;
	padding: 0.5em;
}


#logdetail a {
        color: #444444;
        text-decoration: none;
	padding: 0.2em
       }

#logdetail img {
	margin: 1em;
       }



#logdetail a:hover {
        color: #000000;
	background-color: #888888;
	padding: 0.2em
	border: solid #000000;
        border-width: 0.05em;
        -moz-border-radius: 0.2em;
        -webkit-border-radius: 0.2em;
        border-radius: 0.2em;
        }



#track {
    margin-top: 7em;
    }

#overlayswitch {
    }

#map {
	float: left;
	width: 32em;
	height: 30em;
        border: 0.05em solid #000000;
        border-width: 0.05em;
        }


#gallery {
	 display:inline;
	 float: left;
	 height: 30em;
	 width: 20em;
	 z-index: 1;
	 margin-left: 3em;
	 }

#setThumbs {
	float: left;
	display: block;
}
	
#thumbIndv {
        float: left;
	height: 75px;
	width: 75px;
	margin: 0;
	margin-bottom: 0.1875em;
	margin-left: 0.1875em;
	pading: 0;
}

#thumbIndv img {
	border:medium none;
}

#error {
	position: fixed;
	top: 35px;
	left: 900px;
	color: red;
	}	


