<%def name="title()"></%def>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	     <title>${self.title()}</title>
        <link href="/css/caption.css" media="screen" rel="stylesheet" title="" type="text/css"/>
        <link href="/css/colorbox.css" media="screen" rel="stylesheet" title="" type="text/css"/>
        <link type="text/css" href="/css/tabs/demos.css" rel="stylesheet" />
        <link type="text/css" href="/css/tabs/jquery.ui.all.css" rel="stylesheet" />
        <script type="text/javascript" src="/js/jquery-1.4.2.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.1.custom.min.js"></script>
<script type="text/javascript" src="/js/jquery_plugins/colorbox/jquery.colorbox_1.3.6-min.js"></script>
<!--<script type="text/javascript" src="http://maps.google.com/maps?file=api&amp;v=3&amp;key=ABQIAAAAtBis1EsY3cr3r5-nc6tpURSn1OJP2Pt8vYqZWM-35sBIxmB9uBQHOgv5D5ZMxzfS8sAQ4wI448OmqQ"></script>-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
        $(function() {
           $("#tabs").tabs({
              ajaxOptions: 
                 {dataType: "html",
                 error: function(xhr, status, index, anchor) {
                    $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible. If this wouldn't be a demo.");
                 },
                cache: false,
                complete: function() {
                    //alert('ajax complete')
                }
              }
           });
        });
        function changeUrl(newUrl) {
             $("#tabs").tabs('url',2,newUrl);
         }
        function reloadTab(index){
         $("#tabs").tabs('load', index);
        }
        $(document).ready(function() { 
            $('#tabs').bind('tabsshow', function(event, ui) {
                window.location.hash = ui.panel.id;
                scroll(0,0);
            });
        });
        var recentHash = "";
        recentHash = window.location.hash;
        //use pollHash for browser-history(currently defunct)
        function pollHash() {
            if (window.location.hash==recentHash) {
                return; // Nothing's changed since last polled.
            }
            recentHash = window.location.hash;
            //alert('Url changed:'+recentHash)
        };
        function getIndex() {
                var $tabs = $('#tabs').tabs();
                var selected = $tabs.tabs('option', 'selected')
                return selected;
            };
        function loadNewContent(newUrl) {
            var index = getIndex();
            $("#tabs").tabs('url',index,newUrl);
            reloadTab(index);
        };
        </script>
    </head>
    <body>
      <!-- *** BEGIN page content *** -->
      ${self.body()}
      <!-- *** END page content *** -->
    </body>
</html>

