<%inherit file="site.html" />
<%include file="/menu/menu.html" />
<div id="content">
</div>

<script type="text/javascript">
var i=0;
$(".caption").hide();
$("div.imagecontainer").mouseover(function(){ 
      $(".caption",this).show();
      width=($("img[id='inlineimage']",this).width())
      $('div.imagecontainer').css({width: width});
 }).mouseout(function(){
      $(".caption",this).hide();
    });
showContent('${c.country_id}/${c.page}');
modMenu(${c.country_id});
showNavigation('${c.navstring}');
</script>
