<%inherit file="site.html" />
<%include file="/menu/menu.html" />
<div id="content">
${pages()}
    <div id="log" "clearfix">
            <!--highestlogid: ${c.highestlogid}<br />
            lowestlogid: ${c.lowestlogid}<br />
            startfromlog: ${c.startfromlog}<br />
            lowestlogonpage: ${c.lowestlogonpage}<br />
            startlognextpage: ${c.startlognextpage}<br />
            startlogprevpage: ${c.startlogprevpage}-->


        % for log in c.logdetails:
            <div id="logdetail">
                <table id="logheader">
                    <tbody>
                    <tr>
                        <td class="leftcol">${log.createdate}</td>
                        <td class="rightcol">${log.location}</td>
                    </tr>
                    </tbody>
                </table>
                <div id="logcontent">
                    <h2>${log.topic}</h2>
                    % if log.distance==None:
                        
                    % else:
                        <b>distance:</b> ${log.distance}<br>
                    % endif
                    % if log.timespan==None:
                        
                    % else:
                        <b>duration:</b> ${log.timespan}<br>
                    % endif
                    <div id="logdetail_icons">
                        ${log.gallerylink}
                        <span class="track_icon"><a title="Show route on map" href="/track/infomarker/${log.infomarkerid}"></a></span>
                        <span class="stats_icon"><a title="Show statistics for this day" href="/facts/stats/${log.infomarkerid}"></a></span>
                    </div>
                    <br>
                    <br>
                    ${log.content}
                </div>
            </div>
        % endfor
</div>
<div id="map_svg">        
    </div>   
  
% if c.error:
    <div id="error">
        ${c.error}
    </div>
% endif
</div>

<%def name="pages()">
    <div id="pages">
        % if c.startlogprevpage >= c.lowestlogid and c.lowestlogonpage != c.lowestlogid:
            <span class="logpagelowest"><a href="/log/index/${c.lowestlogid}" title="Jump to oldest entries"></a></span>
        % endif
        % if c.startlogprevpage >= c.lowestlogid and c.lowestlogonpage != c.lowestlogid:
            <span class="logpageprev"><a href="/log/index/${c.startlogprevpage}" title="Show older entries"></a></span>
        % endif
        % if c.startlognextpage <= c.highestlogid and c.startfromlog != c.highestlogid:
            <span class="logpagenext"><a href="/log/index/${c.startlognextpage}" title="Show newer entries"></a></span>
        % endif
        % if c.startlognextpage <= c.highestlogid and c.startfromlog != c.highestlogid:
            <span class="logpagehighest"><a href="/log/index/${c.highestlogid}" title="Jump to newest entries"></a></span>
        % endif 
    </div>
</%def>

<script type="text/javascript">
var i=0;
$(".caption").hide();
$("div.imagecontainer").mouseover(function(){ 
      $(".caption",this).show();
      width=($("img[id='inlineimage']",this).width())
      $('div.imagecontainer').css({width: width});
 }).mouseout(function(){
      $(".caption",this).hide();
    });
function modParent(link) {
    $(".menu").attr("href", function() {
    i++
    if (i==1) {
        showSubcontent('/log/country_svg/'+link);
    };
    return(this.href.replace(/(.*\/)/, "$1country/"+link));
    });
}
showSubcontent('/static/world_svg.html')
</script>
