<%def name="title()"></%def>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/css/main.css" media="screen">
	<script src="/js/jquery-1.2.6.js" type="text/javascript"></script>
	<script src="/js/jquery_plugins/ui.datepicker.js" type="text/javascript"></script>
	<script>
        $(document).ready(function(){
        $('#viewbydate').datepicker({rangeSelect: true, calendars: 2, firstDay: 1, dateFormat: 'yy-mm-dd'});
        $("#countryinput").hide();
        $("#dateinput").hide();
          $("#toggledate").click(function () {
              $("#dateinput").toggle();
              $("#countryinput").hide();
          });    
        $("#togglecountry").click(function () {
            $("#countryinput").toggle();              
	    $("#dateinput").hide();
            });
        });
	</script>
	<title>${self.title()}</title>
    </head>
    <body>
      <!-- *** BEGIN page content *** -->
      ${self.body()}
      <!-- *** END page content *** -->
    </body>
</html>

