<%namespace name="hostname" file="/misc/hostname.html"/>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/caption.css" media="screen" rel="stylesheet" title="" type="text/css"/>
        <link rel="shortcut icon" href="/images/bicycle.ico" />
	<title>poab.org - journal</title>
    <script type="text/javascript" >
    hostname = "${hostname.hostname()}"
  
    function modFromSVG(country_id) {
        window.location = '/log/c/'+country_id
        $(".menu").attr("href", function() {
            var re = new RegExp("(http://w{0,3}\.{0,1}"+hostname+"/[A-z]{1,}/)c/[0-9]{1,}");
            return(this.href.replace(re, "$1c/"+country_id));
        });
    }

    function resetContent() {
        window.location = '/log'
    }
    function showContent(country_id) {
        modFromSVG(country_id)
    }
</script>
    </head>
    <body>
      <!-- *** BEGIN page content *** -->
      ${self.body()}
      <!-- *** END page content *** -->
    </body>
</html>

