<%def name="title()"></%def>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/1998/REC-html40-19980424/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="/css/caption.css" media="screen" rel="stylesheet" title="" type="text/css"/>
	<title>${self.title()}</title>
    <script type="text/javascript" >
    function showSubcontent(contentlink) {
        $.ajax({
            url: contentlink,
            cache: true,
            success: function(response) { 
            $("#map_svg").replaceWith('<div id="map_svg">' + response + '</div>');
           }
        
        });
    }
</script>
    </head>
    <body>
      <!-- *** BEGIN page content *** -->
      ${self.body()}
      <!-- *** END page content *** -->
    </body>
</html>

