<ul id="track_legend">
    <li><input type="checkbox" onClick="enableWikipedia()"> toggle wikipedia overlay</li>
    <li><input type="checkbox" onClick="toggletrack(this)" name="trackcheckbox" checked> toggle travelled route</li>
    <li><input type="checkbox" onClick="togglemarkers(this)" name="trackcheckbox" checked> toggle markers</li>
    <li><img src="/images/legend/track_red.png" /> travelled by bike</li>
    <li><img src="/images/legend/track_grey.png" /> travelled by motor(car, train, ship, plane)</li>
</ul>
