<%def name="pages()">
    <div class="pages">
        <%
            controller=request.environ['pylons.routes_dict']['controller']
            action=request.environ['pylons.routes_dict']['action']
            i=0
            j=1
            pagestring=''
            fastrewind_page=''
            fastforward_page=''
            if c.curr_page > 4 and len(c.pages)>9:
                i=c.curr_page-4
                j=c.curr_page-3

            prev_page='''<a href="/%s/%s/%s/%s" class="page_arrow" title="older entries" >&#8592;</a> '''% (controller,action,c.id1,str(c.curr_page-1))
            next_page=''' <a href="/%s/%s/%s/%s" class="page_arrow" title="newer entries" >&#8594;</a>'''% (controller,action,c.id1,str(c.curr_page+1))

            if c.curr_page>0:
                pagestring=pagestring+prev_page

            if c.curr_page>4 and len(c.pages)>9:
                pagestring=pagestring+'''<a href="/%s/%s/%s/%s" title="Photos page %s" >%s</a>'''% (controller,action,c.id1,str(0),str(1),str(1))

###FASTREWIND
            if len(c.pages)<=9:
                fastrewind_page=''
            elif c.curr_page<10 and c.curr_page>4:
                fastrewind_page=''' <a href="/%s/%s/%s/%s" title="Photos page %s" >...</a>''' % (controller,action,c.id1,str(0),str(1))
            elif c.curr_page>4:
                fastrewind_page=''' <a href="/%s/%s/%s/%s" title="Photos page %s" >...</a>''' % (controller,action,c.id1,str(c.curr_page-9),str(c.curr_page-8))
            pagestring=pagestring+fastrewind_page
###

            for page in c.pages:
                #don't display more pages than total
                if j>len(c.pages):
                    continue
                elif i==c.curr_page:
                    pagestring=pagestring+''' <b>%s</b>'''% (str(j))
                elif j<10:
                    pagestring=pagestring+''' <a href="/%s/%s/%s/%s" title="Photos page %s" >%s</a>'''% (controller,action,c.id1,str(i),str(j),str(j))
                #don't display more than 5 extra pages
                elif j> c.curr_page+5 and j>5:
                    continue
                else:
                    pagestring=pagestring+''' <a href="/%s/%s/%s/%s" title="Photos page %s" >%s</a>'''% (controller,action,c.id1,str(i),str(j),str(j))
                i=i+1
                j=j+1

###FASTFORWARD       
            if len(c.pages)<9:
                fastforward_page=''
            elif c.curr_page+9<len(c.pages):
                fastforward_page=''' <a href="/%s/%s/%s/%s" title="Photos page %s" >...</a>''' % (controller,action,c.id1,str(c.curr_page+9),str(c.curr_page+10))
            #if we are less than 6 pages from the last page, we don't view a jump anymore
            elif c.curr_page+6==len(c.pages):
                fastforward_page=''
            #if we are less than 9 pages from the last page, we jump to the last page
            else:
                fastforward_page=''' <a href="/%s/%s/%s/%s" title="Photos page %s" >...</a>''' % (controller,action,c.id1,str(len(c.pages)-1),str(len(c.pages)))
###

            if c.curr_page+5<len(c.pages) and len(c.pages)>9:
                pagestring=pagestring+'''%s <a href="/%s/%s/%s/%s" title="Photos page %s" >%s</a>'''% (fastforward_page,controller,action,c.id1,str(len(c.pages)-1),str(len(c.pages)),str(len(c.pages)))
            if len(c.pages)==1:
                pagestring=''
            
            if c.curr_page<(len(c.pages)-1):
                pagestring=pagestring+next_page


        %>
        ${pagestring}
    <br>
       &nbsp;
    </div>
</%def>
