<div id="menu">
<b class="mtop"><b class="mb1"></b><b class="mb2"></b><b class="mb3"></b><b class="mb4"></b></b>
<div class="menucontent">
        <ul class="menucontent">
	  <li></li>
          <li><a href="${h.rails.url_for(controller="/blog", action="")}">log</a></li>
          <li><a href="${h.rails.url_for(controller="/track", action="")}">track</a></li>
          <li><a href="${h.rails.url_for(controller="/view", action="")}">view</a></li>
          <li><a href="${h.rails.url_for(controller="/facts", action="")}">facts</a></li>
        </ul>

</div>

<b class="mbottom"><b class="mb4"></b><b class="mb3"></b><b class="mb2"></b><b class="mb1"></b></b>
</div>
