<div id="menu">
	<ul id="menucontent" class="clearfix">
	    <li></li>
	    <li><a href="${h.rails.url_for(controller="/blog", action="")}">log</a></li>
	    <li><a href="${h.rails.url_for(controller="/track", action="")}">track</a></li>
	    <li><a href="${h.rails.url_for(controller="/view", action="")}">view</a></li>
	    <li><a href="${h.rails.url_for(controller="/facts", action="")}">facts</a></li>
	    <li>
		<form method="GET" action="/track">
		<span id="toggledate"><img src="/images/chooser/calendar.jpg"></span>
		    <span id="dateinput">
		    <input id="viewbydate" type="text" name="viewbydate" />
		    <input type="image" src="/images/chooser/check.png" name="submit" value="Submit" /></span>
		</form>
	    </li>
	    <li>
		<form method="GET" action="/track">
		<span id="togglecountry"><img src="/images/chooser/globe.png"></span>
		    <span id="countryinput">
		    <input type="text" name="countryinput" />
		    <input type="image" src="/images/chooser/check.png" name="submit" value="Submit" /></span>
		</form>
			
	    </li>
	</ul>
</div>
